{{extend 'layout.html'}}
<div id="target"></div>
<script id="template" type="text/ractive">
    <h1>Find a Path to {%targetWord%}</h1>
    <div id="play_game">
        Enter a key word
        <input type="text" id="keyWord" value="{% keyWord %}" />
        <input type="submit" value="Submit" id="keyWord_submit" class="btn btn-default" on-click="make_game" />
        <div class="error" id="keyWordError" name="keyWordError"></div>
    </div>
    <div id="results"></div>
    <div class="bacometerCont"></div>
</script>
<script type="text/javascript" src="{{=URL('static', 'js', args=['bacon.js'])}}"></script>
<script src="{{=URL('static', 'js/form-validate.js')}}"></script>
<script type="text/javascript">
    //Ractive Object
    var ractive = new Ractive({
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        el: '#target',
        template: '#template',
        data: {
            targetWord: '{{=targetWord}}',
            keyWord: '',
            wordList: []
        }
    });

    //Loads list of available game names (copy of wordList)
    $.ajax(
            "{{=URL('default', 'load_wordlist')}}",
            {
                method: 'POST',
                success: function(data){
                    ractive.set('wordList', data['wordList']);
                    $("#keyWord").autocomplete({
                             source: data['wordList']
                         });
                },
                error: function(){}
            }
    );
    //Called when submit button is clicked
    ractive.on("make_game", function(){
        var keyWord = ractive.get('keyWord');
        var targetWord = ractive.get('targetWord');
        new Bacon(keyWord, targetWord, ractive.get('wordList'));
    });


    (function(){

    $('.site_nav_item').each(function(){
        var $this =$(this);
        if($this.data('id')=== "game"){$this.addClass('active');}

    });

    })();


</script>
