{{extend 'layout.html'}}
<h2>Word List</h2>
<div id="wordList">
    <h3>'A' words</h3>
    <div>
        <ul>
            {{for word in a:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'B' words</h3>
    <div>
        <ul>
            {{for word in b:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'C' words</h3>
    <div>
        <ul>
            {{for word in c:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'D' words</h3>
    <div>
        <ul>
            {{for word in d:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
     <h3>'E' words</h3>
    <div>
        <ul>
            {{for word in e:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'F' words</h3>
    <div>
        <ul>
            {{for word in f:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'G' words</h3>
    <div>
        <ul>
            {{for word in g:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'H' words</h3>
    <div>
        <ul>
            {{for word in h:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
     <h3>'I' words</h3>
    <div>
        <ul>
            {{for word in i:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'J' words</h3>
    <div>
        <ul>
            {{for word in j:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'K' words</h3>
    <div>
        <ul>
            {{for word in k:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'L' words</h3>
    <div>
        <ul>
            {{for word in l:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'M' words</h3>
    <div>
        <ul>
            {{for word in m:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'N' words</h3>
    <div>
        <ul>
            {{for word in n:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'O' words</h3>
    <div>
        <ul>
            {{for word in o:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'P' words</h3>
    <div>
        <ul>
            {{for word in p:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'Q' words</h3>
    <div>
        <ul>
            {{for word in q:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'R' words</h3>
    <div>
        <ul>
            {{for word in r:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'S' words</h3>
    <div>
        <ul>
            {{for word in s:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'T' words</h3>
    <div>
        <ul>
            {{for word in t:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'U' words</h3>
    <div>
        <ul>
            {{for word in u:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'V' words</h3>
    <div>
        <ul>
            {{for word in v:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'W' words</h3>
    <div>
        <ul>
            {{for word in w:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
     <h3>'X' words</h3>
    <div>
        <ul>
            {{for word in x:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'Y' words</h3>
    <div>
        <ul>
            {{for word in y:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
    <h3>'Z' words</h3>
    <div>
        <ul>
            {{for word in z:}}
                <li>{{=word}}</li>
            {{pass}}
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#wordList').accordion({
            collapsible: true,
            heightStyle: "content",
            icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" }
        });
    });
</script>